app
readings.txt
Secure/enclave.so
Secure/enclave.signed.so
Secure/App/App.o
Secure/App/Enclave_u.c
Secure/App/Enclave_u.h
Secure/App/Enclave_u.o
Secure/Enclave/Enclave.o
Secure/Enclave/Enclave_t.c
Secure/Enclave/Enclave_t.h
Secure/Enclave/Enclave_t.o
workloads/*.dat
Secure/.config_HW_DEBUG_x64

# Env Specific
.vscode