app
enclave.so
enclave.signed.so
App/App.o
App/Enclave_u.c
App/Enclave_u.h
App/Enclave_u.o
Enclave/Enclave.o
Enclave/Enclave_t.c
Enclave/Enclave_t.h
Enclave/Enclave_t.o
.config_HW_DEBUG_x64

# Env Specific
.vscode